
.container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 800px;


  .formWrapper {
    width: 280px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

